<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="static/anotherstyle.css"> -->
     <link rel="stylesheet" href="{{url_for('static',filename='anotherstyle.css')}}">
     #yha static dalna compulasary hai 
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi expedita, neque eum aspernatur facere culpa in commodi laboriosam repudiandae dicta nostrum totam nesciunt ratione nihil! Explicabo consectetur consequatur ullam dolore, magni cupiditate possimus odit.
    <img src="https://static.smoads.com/n1127/ad/300x250_s0NU8mC4.jpg" alt="">
</body>
</html>