<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downlading videos</title>
</head>
<body>
    <h1>Here are small collection of videos </h1>
    <p>video-1 <a href="static/first.mp4">first video </a></p>
    <p>video-2 <a href="static/second.mp4">second video </a></p>
    <p>video-3 <a href="static/third.mp4">third video </a></p>
    <p>video-4 <a href="static/fourth.mp4">fourth video </a></p>
    <p>video-5 <a href="static/five.mp4">five video </a></p>
</body>
</html>